body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

nav {
  background-color: #2e8b57;
  padding: 1rem;
}

a {
  color: #2e8b57; /* Forest Green */
  text-decoration: none;
}

a:hover {
  color: #4682b4; /* Sky Blue */
  text-decoration: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

main {
  padding: 2rem;
}

footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

#logout-form {
  display: inline;
}

#logout-form button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin-left: 1rem; /* space from other nav links */
}

#logout-form button:hover {
}

.landing-container {
  text-align: center;
  margin-top: 5rem;
}

.landing-buttons {
  margin-top: 2rem;
}

.landing-buttons .btn {
  background-color: #2e8b57;
  color: white;
  padding: 0.75rem 1.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.landing-buttons .btn:hover {
  background-color: #246c45;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #2e8b57; /* Forest Green */
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1rem;
}

.btn:hover {
  background-color: #4682b4; /* Sky Blue */
  transform: translateY(-2px);
}
